<html>
<head>
  <body>
    <h2> This is the menu page for restaurant number {{restaurant_id}}. </h2>
      <a href="{{ url_for('newMenuItem', restaurant_id = restaurant_id) }}"> <h3> Add Menu Item </h3> </a>
      {% for item in items %}
      <h2> {{item.name}} </h2>
      <a href="{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = item.id)}}"> Edit </a>
      <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = item.id)}}"> Delete </a>
      <h2> {{item.description}} </h2>
      <h2> {{item.price}} </h2>
      {% endfor %}
  </body>
</head>
</html>